button {
  cursor: pointer;
}
.button {
  &_navigation {
    background-color: transparent;
    margin: 0 10px 0 10px;
    border: none;
    font-size: 0.8rem;
    font-weight: bold;
  }
  &_menu-collapse {
    font-size: 1rem;
    padding: 0;
    height: 28px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
