button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.button {
  &_navigation {
    background-color: transparent;
    margin: 0 10px 0 10px;
    border: none;
    font-size: 0.8rem;
    font-weight: bold;
  }
  &_menu-collapse {
    font-size: 1rem;
    padding: 0;
    height: 28px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &_pagination {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    font-size: 0.8rem;
  }
  &_love {
    background-color: white;
    border: 1px solid grey;
    border-radius: 20px;
    width: 26px;
    height: 25px;
    backdrop-filter: blur(5px);
    padding: 4px;
    span {
      font-size: 1rem;
    }
  }
  &_addToCart {
    background-color: orange;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 12px 30px;
    border-radius: 30px;
    margin: 0 10px;
  }
  &_showmore {
    border: 1px solid lightgrey;
    width: 120px;
    padding: 9px;
    border-radius: 28px;
    color: black;
    font-weight: 800;
  }
}
