.maincontent {
  width: 100%;
  margin-top: 40px;
  margin-left: 24px;
  margin-right: 80px;
  @include respond(tab-port) {
    margin: 40px 0px;
  }
  &_header {
    display: flex;
    justify-content: space-between;

    @include respond(tab-land) {
      justify-content: space-around;
    }
    @include respond(tab-port) {
    }
    span {
      font-size: 1rem;
      font-weight: 300;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-weight: 100;
      }
    }
    &-right {
      display: flex;
      justify-content: space-around;
      form {
        font-size: 0.7rem;
        font-weight: 700;
        margin-right: 20px;
        @include respond(large-phone) {
          display: none;
        }
        select {
          border: 1px solid #dedada;
          background-color: transparent;
          border-radius: 21px;
          height: 35px;
          padding: 8px;
          text-align: center;
          font-size: 0.7rem;
          margin-left: 10px;
          outline: none;
        }
      }
    }
  }
  &_content {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(5, min-content);
    grid-gap: 15px;
    justify-content: space-between;
    margin-top: 20px;
    @include respond(tab-land) {
      grid-template-columns: repeat(3, min-content);
      justify-content: center;
    }
    @include respond(tab-port) {
      grid-template-columns: repeat(2, min-content);
    }
    @include respond(large-phone) {
      grid-template-columns: repeat(3, min-content);
    }
    @include respond(phone) {
      grid-template-columns: repeat(2, min-content);
    }
  }
}
