.error {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5a1800;
  color: white;
  flex-direction: column;
  p {
    font-size: 100px;
    margin-bottom: 20px;
  }
  a {
    background-color: white;
    padding: 15px;
    border-radius: 4px;
    color: black;
    font-weight: 700;
  }
}
