.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;

  & > * {
    font-size: 0.6rem;
    margin: 5px;
    font-weight: 700;
  }
  &_number {
    border: 1px solid #dedada;
    background-color: transparent;
  }
  &_prev {
    color: #dedada;
    border-color: #dedada;
    cursor: not-allowed;
  }
}
