.sidebar {
  margin-left: 50px;
  margin-top: 50px;
  z-index: 3;
  @include respond(large-phone) {
    position: fixed;
    left: -240px;
    margin: 0;
    margin-top: 40px;
  }
  &_header {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_component {
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #dedada;
    width: 240px;
    padding: 10px 10px 10px 30px;
    margin-bottom: 10px;
    overflow: hidden;
    height: 82px;
    background-color: #3800008c;
    color: white;
    &-1 {
      height: 160px;
    }
    &-size {
      display: flex;
      justify-content: start;
      margin-right: 6px;
      input {
        background-color: transparent;
        border: 1px solid #dedada;
        font-size: 0.7rem;
        height: 31px;
        color: white;
        cursor: pointer;
        padding: 9px;
        transition: 0.2s ease;
        font-weight: 800;
      }
    }
    &-color {
      display: flex;
      div {
        border: 1px solid #dedada;
        padding: 5px;
        input {
          cursor: pointer;
          border: 1px solid #dedada;
          width: 20px;
          color: transparent;
          transition: 0.3s ease;
        }
      }
    }
  }

  &_product {
    & label {
      input {
        transform: scale(1.2);
        margin: 7px 0px;
      }
      span {
        margin-left: 10px;
      }
    }
  }
  &_range {
    &-text {
      margin: 7px;
      font-weight: 400;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    input {
      height: 3px;
    }
  }
}
