body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*
0 - 350px:      small-phone
350px - 450px:  meduim-phone
450px - 600px:  Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
1800px + :      Big desktop

$breakpoint arguement choices:
- small-phone
- meduim-phone
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dedada;
  height: 80px;
  padding: 0 50px 0 50px;
}

.logo_name {
  font-size: 1.2rem;
  font-weight: 400;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_container span {
  font-size: 1.3rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 0px;
}
.footer_input-email {
  height: 30px;
  padding: 7px;
  padding-left: 18px;
  border-radius: 14px;
  border: none;
  outline: none;
}
.footer_input-subscribe {
  color: black;
  font-weight: 700;
  background-color: #ffa638;
  padding: 11px;
  border: none;
  border-radius: 15px;
  margin: 8px;
}
.footer_top {
  background-image: url("https://via.placeholder.com/600X400");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 300px;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 56.25em) {
  .footer_top {
    flex-direction: column;
  }
}
.footer_top p {
  font-size: 1.4rem;
  color: white;
  padding: 6px;
}
.footer_top > * {
  margin: 30px 20px;
}
.footer_bottom {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: 40px 0px;
}
@media only screen and (max-width: 56.25em) {
  .footer_bottom {
    flex-direction: column;
  }
}
.footer_bottom-left {
  width: 400px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 37.5em) {
  .footer_bottom-left {
    width: 250px;
  }
}
.footer_bottom-left p {
  font-size: 0.7rem;
  color: grey;
  margin-top: 13px;
}
.footer_bottom-icons {
  margin-top: 40px;
}
.footer_bottom-icons button {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #b1afaf;
  font-size: 1rem;
}
.footer_bottom-right {
  display: flex;
}
@media only screen and (max-width: 28em) {
  .footer_bottom-right {
    flex-direction: column;
  }
}
.footer_bottom-right div {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
@media only screen and (max-width: 28em) {
  .footer_bottom-right div {
    margin-left: 0px;
    margin-bottom: 30px;
  }
}
.footer_bottom-right div h3 {
  font-size: 0.8rem;
  margin-bottom: 20px;
}
.footer_bottom-right div a {
  font-size: 0.7rem;
  color: black;
  font-weight: 400;
}
.footer_rights {
  font-size: 0.5rem;
  color: grey;
}

button {
  cursor: pointer;
}

.button_navigation {
  background-color: transparent;
  margin: 0 10px 0 10px;
  border: none;
  font-size: 0.8rem;
  font-weight: bold;
}
.button_menu-collapse {
  font-size: 1rem;
  padding: 0;
  height: 28px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.button_pagination {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-size: 0.8rem;
}

.sidebar {
  margin-left: 50px;
  margin-top: 50px;
}
@media only screen and (max-width: 48em) {
  .sidebar {
    display: none;
  }
}
.sidebar_header {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar_box {
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #dedada;
  width: 240px;
  padding: 10px 10px 10px 30px;
  margin-bottom: 10px;
}
.sidebar_box-size {
  display: flex;
  justify-content: space-between;
  margin-right: 6px;
}
.sidebar_box-size input {
  background-color: transparent;
  border: 1px solid #dedada;
  font-size: 0.7rem;
  height: 31px;
  color: #3a3a3a;
  cursor: pointer;
  padding: 9px;
}
.sidebar_box-color {
  display: flex;
}
.sidebar_box-color div {
  border: 1px solid #dedada;
  padding: 5px;
}
.sidebar_box-color div input {
  border: 1px solid #dedada;
  width: 20px;
  color: transparent;
}
.sidebar_product label input {
  transform: scale(1.2);
  margin: 7px 0px;
}
.sidebar_product label span {
  margin-left: 10px;
}
.sidebar_range-text {
  margin: 7px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar_range input {
  height: 3px;
}

.maincontent {
  width: 100%;
  margin-top: 40px;
  margin-left: 24px;
  margin-right: 80px;
}
.maincontent_header {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 56.25em) {
  .maincontent_header {
    flex-direction: column;
  }
}
.maincontent_header span {
  font-size: 1rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maincontent_header span span {
  font-weight: 100;
}
.maincontent_header-right {
  display: flex;
  justify-content: space-between;
}
.maincontent_header-right form {
  font-size: 0.7rem;
  font-weight: 700;
  margin-right: 20px;
}
.maincontent_header-right form select {
  border: 1px solid #dedada;
  background-color: transparent;
  border-radius: 21px;
  height: 35px;
  padding: 8px;
  text-align: center;
  font-size: 0.7rem;
  margin-left: 10px;
  outline: none;
}
.maincontent_content {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, min-content);
  grid-gap: 30px;
  justify-content: space-between;
  margin-top: 20px;
}
@media only screen and (max-width: 75em) {
  .maincontent_content {
    grid-template-columns: repeat(3, min-content);
  }
}
@media only screen and (max-width: 56.25em) {
  .maincontent_content {
    grid-template-columns: repeat(2, min-content);
  }
}
@media only screen and (max-width: 48em) {
  .maincontent_content {
    grid-template-columns: repeat(3, min-content);
  }
}
@media only screen and (max-width: 37.5em) {
  .maincontent_content {
    grid-template-columns: repeat(2, min-content);
  }
}

.card {
  position: relative;
  font-size: 0.7rem;
}
.card .button_love {
  position: absolute;
  top: 11px;
  right: 15px;
  background-color: #ffffff94;
  border: none;
  border-radius: 20px;
  width: 25px;
  height: 25px;
  backdrop-filter: blur(5px);
  padding: 5px;
}
.card .button_love span {
  font-size: 1rem;
}
.card img {
  width: 200px;
  height: 200px;
  background-color: orangered;
}
@media only screen and (max-width: 75em) {
  .card img {
    width: 170px;
    height: 170px;
  }
}
@media only screen and (max-width: 56.25em) {
  .card img {
    width: 200px;
    height: 200px;
  }
}
@media only screen and (max-width: 48em) {
  .card img {
    width: 160px;
    height: 160px;
  }
}
@media only screen and (max-width: 37.5em) {
  .card img {
    width: 200px;
    height: 200px;
  }
}
@media only screen and (max-width: 28em) {
  .card img {
    width: 150px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.pagination > * {
  font-size: 0.6rem;
  margin: 5px;
  font-weight: 700;
}
.pagination_number {
  border: 1px solid #dedada;
  background-color: transparent;
}
.pagination_prev {
  color: #dedada;
  border-color: #dedada;
  cursor: not-allowed;
}

/*# sourceMappingURL=main.css.map */
